<ion-content [fullscreen]="true">
  <div class="container">
    <div class="title">INFOS</div>
    <div class="description">
      <b>Climate protection</b> is essential to ensure a sustainable future for our planet. <b>Rising temperatures, extreme weather</b> events, and biodiversity loss threaten ecosystems, livelihoods, and global stability. By taking <b>action</b> now, we can preserve vital resources, protect communities, and create a healthier environment for future
generations.
    </div>
  </div>
</ion-content>
