<ion-content [fullscreen]="true">
  <div class="container">
    <div class="layout-top">
      <img src="../../assets/Images/icon.png" alt="Top Image">
    </div>

    <div class="layout-bottom">
      <div class="bottom-image">
        <img src="../../assets/Images/aws_000.png" alt="Bottom Image 1">
        <span>January</span>
      </div>
      <div class="bottom-image">
        <img src="../../assets/Images/aws_000.png" alt="Bottom Image 1">
        <span>March</span>
      </div>
      <div class="bottom-image">
        <img src="../../assets/Images/aws_000.png" alt="Bottom Image 1">
        <span>October</span>
      </div>
    </div>
  </div>
</ion-content>
